
<% if flash[:notice] %>
<div id="notice"><%= flash[:notice] %></div>
<% end %>

<p>
    <h1 class="title">
        <%= @host.name %>
    </h1>    
    <h2 class="title">  
        <%= @host.description %>
    </h2>
</p>
<div class="links">
    <%= link_to "Show hats for Host", completed_host_path(@host) %>
</div>

<div id="wrapper">
    <%= render "tasks/task" %>    
    <% if @host.status == "active" %>
    Create Task:
        <div class="forms">
            <%= render "tasks/form" %>
        </div>
    <% end %>
</div>


<div class="links">
    <% if current_user.admin %>            
        <%= link_to "Edit Host", edit_host_path(@host) %> ||
    <% end %>
     <%= link_to "Back", hosts_path%>
</div>
