<!DOCTYPE html>
<html>
  <head>
    <title>PlaygroundApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="<%= root_url %>"/>Home</a>
    
              <% if current_user %>
                <li><%= link_to "Hello, #{current_user.first_name}!", user_path(current_user) %></li>
                <li><%= link_to "Host Dashboard", hosts_path %></li>
                <li><%= link_to "Log Out", signout_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign Up", new_user_path %></li>
                <li><%= link_to "Sign In", signin_path %></li>
                OR 
               
                <li><%= link_to "Sign in with Github" ,  "/auth/github"  %>    
                </li>
              <% end %>


     
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
